<a href="https://colab.research.google.com/github/Nayent/AlgoritimoNaoSupervisionado/blob/master/MachineLearningNaoSupervisionado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
urlFilme = 'https://raw.githubusercontent.com/oyurimatheus/clusterirng/master/movies/movies.csv'
listaFilmes = pd.read_csv(urlFilme)
listaFilmes.columns = ['Id', 'Titulo', 'Generos']
listaFilmes.head()

   Id  ...                                      Generos
0   1  ...  Adventure|Animation|Children|Comedy|Fantasy
1   2  ...                   Adventure|Children|Fantasy
2   3  ...                               Comedy|Romance
3   4  ...                         Comedy|Drama|Romance
4   5  ...                                       Comedy

[5 rows x 3 columns]

In [3]:
generos = listaFilmes.Generos.str.get_dummies()
dadosFilmes = pd.concat([listaFilmes,generos], axis = 1)
dadosFilmes.head()

   Id                              Titulo  ... War  Western
0   1                    Toy Story (1995)  ...   0        0
1   2                      Jumanji (1995)  ...   0        0
2   3             Grumpier Old Men (1995)  ...   0        0
3   4            Waiting to Exhale (1995)  ...   0        0
4   5  Father of the Bride Part II (1995)  ...   0        0

[5 rows x 23 columns]

In [4]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

generos_escalados = scaler.fit_transform(generos)
generos_escalados

array([[-0.05917995, -0.48060698,  2.59101927, ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995, -0.48060698,  2.59101927, ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995, -0.48060698, -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534],
       ...,
       [-0.05917995, -0.48060698, -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995,  2.0807022 , -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995, -0.48060698, -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534]])

In [5]:
from sklearn.cluster import KMeans

In [6]:
modelo = KMeans(n_clusters = 3)
modelo.fit(generos_escalados)
print(modelo.labels_)

[2 2 0 ... 0 2 0]